<a href="https://colab.research.google.com/github/pastrop/kaggle/blob/master/Kaggle_Covid19.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# Use seaborn for the correlation heatmap
!pip install seaborn

In [0]:
import warnings
import numpy as np
import pandas as pd
#import seaborn as sns
import matplotlib.pyplot as plt
import itertools

# Time related libraries
import time

In [2]:
# file upload while using Google Colab
from google.colab import files
uploaded = files.upload()

Saving covid19-global-forecasting-week-1.zip to covid19-global-forecasting-week-1.zip

In [3]:
#Unzipping if needed
!unzip covid19-global-forecasting-week-1.zip

Archive:  covid19-global-forecasting-week-1.zip
  inflating: submission.csv
  inflating: test.csv
  inflating: train.csv

In [16]:
#read file & check the upload
df = pd.read_csv('train.csv')
df_filtered = df.loc[df['ConfirmedCases'] != 0]
df_filtered.head(40)

      Id Province/State Country/Region  ...        Date  ConfirmedCases Fatalities
33    34            NaN    Afghanistan  ...  2020-02-24             1.0        0.0
34    35            NaN    Afghanistan  ...  2020-02-25             1.0        0.0
35    36            NaN    Afghanistan  ...  2020-02-26             1.0        0.0
36    37            NaN    Afghanistan  ...  2020-02-27             1.0        0.0
37    38            NaN    Afghanistan  ...  2020-02-28             1.0        0.0
38    39            NaN    Afghanistan  ...  2020-02-29             1.0        0.0
39    40            NaN    Afghanistan  ...  2020-03-01             1.0        0.0
40    41            NaN    Afghanistan  ...  2020-03-02             1.0        0.0
41    42            NaN    Afghanistan  ...  2020-03-03             1.0        0.0
42    43            NaN    Afghanistan  ...  2020-03-04             1.0        0.0
43    44            NaN    Afghanistan  ...  2020-03-05             1.0        0.0
44    45            NaN    Afghanistan  ...  2020-03-06             1.0        0.0
45    46            NaN    Afghanistan  ...  2020-03-07             1.0        0.0
46    47            NaN    Afghanistan  ...  2020-03-08             4.0        0.0
47    48            NaN    Afghanistan  ...  2020-03-09             4.0        0.0
48    49            NaN    Afghanistan  ...  2020-03-10             5.0        0.0
49    50            NaN    Afghanistan  ...  2020-03-11             7.0        0.0
50    51            NaN    Afghanistan  ...  2020-03-12             7.0        0.0
51    52            NaN    Afghanistan  ...  2020-03-13             7.0        0.0
52    53            NaN    Afghanistan  ...  2020-03-14            11.0        0.0
53    54            NaN    Afghanistan  ...  2020-03-15            16.0        0.0
54    55            NaN    Afghanistan  ...  2020-03-16            21.0        0.0
55    56            NaN    Afghanistan  ...  2020-03-17            22.0        0.0
56    57            NaN    Afghanistan  ...  2020-03-18            22.0        0.0
104  141            NaN        Albania  ...  2020-03-09             2.0        0.0
105  142            NaN        Albania  ...  2020-03-10            10.0        0.0
106  143            NaN        Albania  ...  2020-03-11            12.0        1.0
107  144            NaN        Albania  ...  2020-03-12            23.0        1.0
108  145            NaN        Albania  ...  2020-03-13            33.0        1.0
109  146            NaN        Albania  ...  2020-03-14            38.0        1.0
110  147            NaN        Albania  ...  2020-03-15            42.0        1.0
111  148            NaN        Albania  ...  2020-03-16            51.0        1.0
112  149            NaN        Albania  ...  2020-03-17            55.0        1.0
113  150            NaN        Albania  ...  2020-03-18            59.0        2.0
148  221            NaN        Algeria  ...  2020-02-25             1.0        0.0
149  222            NaN        Algeria  ...  2020-02-26             1.0        0.0
150  223            NaN        Algeria  ...  2020-02-27             1.0        0.0
151  224            NaN        Algeria  ...  2020-02-28             1.0        0.0
152  225            NaN        Algeria  ...  2020-02-29             1.0        0.0
153  226            NaN        Algeria  ...  2020-03-01             1.0        0.0

[40 rows x 8 columns]

In [6]:
data_shape = df.shape
print(data_shape)

(16188, 8)

In [7]:
#data cleaning & exploration
unknown_count = df.isna().sum().drop_duplicates()
unknown_count[unknown_count>0]

Province/State    8778
dtype: int64

In [0]:
df['Country/Region'].unique()

In [0]:
df_US = df[df['Country/Region']=='US']
df_US.head(30)

In [15]:
df_US_filtered = df_US.loc[df['ConfirmedCases'] != 0]
df_US_filtered.head(30)

          Id Province/State  ... ConfirmedCases  Fatalities
12249  19954        Alabama  ...            5.0         0.0
12250  19955        Alabama  ...            6.0         0.0
12251  19956        Alabama  ...           12.0         0.0
12252  19957        Alabama  ...           29.0         0.0
12253  19958        Alabama  ...           39.0         0.0
12254  19959        Alabama  ...           46.0         0.0
12306  20047         Alaska  ...            1.0         0.0
12307  20048         Alaska  ...            1.0         0.0
12308  20049         Alaska  ...            1.0         0.0
12309  20050         Alaska  ...            1.0         0.0
12310  20051         Alaska  ...            3.0         0.0
12311  20052         Alaska  ...            6.0         0.0
12360  20137        Arizona  ...            6.0         0.0
12361  20138        Arizona  ...            9.0         0.0
12362  20139        Arizona  ...            9.0         0.0
12363  20140        Arizona  ...            9.0         0.0
12364  20141        Arizona  ...           12.0         0.0
12365  20142        Arizona  ...           13.0         0.0
12366  20143        Arizona  ...           18.0         0.0
12367  20144        Arizona  ...           20.0         0.0
12368  20145        Arizona  ...           27.0         0.0
12418  20231       Arkansas  ...            1.0         0.0
12419  20232       Arkansas  ...            6.0         0.0
12420  20233       Arkansas  ...            6.0         0.0
12421  20234       Arkansas  ...           12.0         0.0
12422  20235       Arkansas  ...           16.0         0.0
12423  20236       Arkansas  ...           22.0         0.0
12424  20237       Arkansas  ...           22.0         0.0
12425  20238       Arkansas  ...           33.0         0.0
12474  20323     California  ...          144.0         2.0

[30 rows x 8 columns]