<a href="https://colab.research.google.com/github/pastrop/kaggle/blob/master/Tabular_data_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
%%capture
! pip install https://github.com/pandas-profiling/pandas-profiling/archive/master.zip

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pandas_profiling import ProfileReport

In [3]:
# file upload while using Google Colab
from google.colab import files
uploaded = files.upload()

Saving nomad.csv to nomad (1).csv

In [4]:
# Load Dataframe Dataframe 
df = pd.read_csv('nomad.csv')
df.head(3)

                   User  ID  ... User Count Offered
0  5f75431f88dc8fa23a15ba1c  ...                  1
1  5f75395acc3fc01efb9224c7  ...                  0
2  5f751230008c3f36cc830320  ...                  0

[3 rows x 20 columns]

In [8]:
 #Dataframe Stats
 print(f'df.shape - {df.shape}')
 df.describe()

(4813, 20)

       User Num References  ...  User Count Offered
count          4813.000000  ...         4813.000000
mean              3.753792  ...            0.209641
std               1.291899  ...            0.407094
min               1.000000  ...            0.000000
25%               3.000000  ...            0.000000
50%               3.000000  ...            0.000000
75%               4.000000  ...            0.000000
max              17.000000  ...            1.000000

[8 rows x 11 columns]

In [10]:
# Basic Data Quality Check
df.isnull().sum()

User  ID                                            0
User Registered Date                                0
User Num References                                 0
User Num Qualified References                       0
User Num Completed PCLs                             0
User Num State Licenses                             0
User Has Compact License (Yes / No)                 0
User Count Applications Completed last 7 Days     179
User Count Applications Completed last 30 Days    179
User Count Applications Completed                 179
User Count Jobs Viewed, last 30 Days                0
User Certifications                                 9
User EHR Systems                                   22
User Specialization List                          376
User Age Bucket                                     0
User Years Nursing Exp                            115
User Years Travel Exp                             564
User First Application Date                       180
User Last Application Date                        180
User Count Offered                                  0
dtype: int64

In [5]:
df_cleaned = df.dropna()
df_cleaned.shape

(3761, 20)

In [19]:
df_cleaned.columns

Index(['User  ID', 'User Registered Date', 'User Num References',
       'User Num Qualified References', 'User Num Completed PCLs',
       'User Num State Licenses', 'User Has Compact License (Yes / No)',
       'User Count Applications Completed last 7 Days',
       'User Count Applications Completed last 30 Days',
       'User Count Applications Completed',
       'User Count Jobs Viewed, last 30 Days', 'User Certifications',
       'User EHR Systems', 'User Specialization List', 'User Age Bucket',
       'User Years Nursing Exp', 'User Years Travel Exp',
       'User First Application Date', 'User Last Application Date',
       'User Count Offered'],
      dtype='object')

In [6]:
df_cleaned = df_cleaned.drop(['User  ID', 'User Registered Date'], axis=1)
df_cleaned.shape

(3761, 18)

In [7]:
len(df[df['User Count Offered'] == 0])

3804

In [8]:
profile = ProfileReport(df_cleaned, title='Data Profiling Report', html={'style':{'full_width':False}})

In [ ]:
profile.to_notebook_iframe()