<a href="https://colab.research.google.com/github/pastrop/kaggle/blob/master/Time_series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Time Series Related Notebook**<br> This notebook is template for the future timeseries related work.

In [ ]:
import warnings
import numpy as np
import pandas as pd
#import seaborn as sns
import matplotlib.pyplot as plt
import itertools
# Time related libraries
import time

In [ ]:
# file upload while using Google Colab
from google.colab import files
uploaded = files.upload()

Saving train_small.csv to train_small.csv

In [ ]:
#Unzipping if needed
!unzip creditcard.zip

In [ ]:
#read file & check the upload
df = pd.read_csv('train_small.csv')
df.head(10)

         date  date_block_num  shop_id  ...  item_price  item_cnt_day  Unnamed: 6
0  02.01.2013               0       59  ...      999.00           1.0         NaN
1  03.01.2013               0       25  ...      899.00           1.0         NaN
2  05.01.2013               0       25  ...      899.00          -1.0         NaN
3  06.01.2013               0       25  ...     1709.05           1.0         NaN
4  15.01.2013               0       25  ...     1099.00           1.0         NaN
5  10.01.2013               0       25  ...      349.00           1.0         NaN
6  02.01.2013               0       25  ...      549.00           1.0         NaN
7  04.01.2013               0       25  ...      239.00           1.0         NaN
8  11.01.2013               0       25  ...      299.00           1.0         NaN
9  03.01.2013               0       25  ...      299.00           3.0         NaN

[10 rows x 7 columns]

In [ ]:
#data cleaning & exploration
unknown_count = df.isna().sum().drop_duplicates()
unknown_count[unknown_count>0]

Unnamed: 6    99
dtype: int64

In [ ]:
df['shop_id'].value_counts()

25    98
59     1
Name: shop_id, dtype: int64

In [ ]:
df_aggr = df.groupby(['date_block_num','item_id'])['item_cnt_day'].sum()
df_aggr

**Create timeseries per product item**

In [ ]:
#Using groupby to group by multiple columns and create a new dataframe
df_grouped = pd.DataFrame(df.groupby(['date_block_num','item_id'])['item_cnt_day'].sum().reset_index())
unique_np = df_grouped['item_id'].unique()
#looking for item in column by value in another column
for item in unique_np:
  if df_grouped.loc[df_grouped['item_id'] == item, 'item_cnt_day'].iloc[0] > 10:
    print(item)
#tmp = df_grouped.loc[df_grouped['item_id'] == 2573, 'item_cnt_day'].iloc[0]

2574
2808

In [ ]:
len(unique_np)

42

In [ ]:
#code snippets related to summing by label & dealing with timelines
# Convert date from string to date times
data['date'] = data['date'].apply(dateutil.parser.parse, dayfirst=True)
# How many entries are there for each month?
data['month'].value_counts()
# Get the sum of the durations per month
data.groupby('month')['duration'].sum()
# What is the sum of durations, for calls only, to each network
data[data['item'] == 'call'].groupby('network')['duration'].sum()
# How many calls, sms, and data entries are in each month?
data.groupby(['month', 'item'])['date'].count()
# produces Pandas Series
data.groupby('month')['duration'].sum() 
# Produces Pandas DataFrame
data.groupby('month')[['duration']].sum()
#To select rows whose column value equals a scalar, some_value, use ==:
df.loc[df['column_name'] == some_value]